/* SASS */
html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

#editor h1, #editor h2, #editor h3, #editor h4, #editor h5 {
  color: #555;
  font-weight: lighter;
}

#editor {
  font-family: "Open Sans", sans-serif;
}

#view #mainNav {
  display: block;
  width: 100%;
}
#view #mainNav ul {
  padding: 0;
  margin: 0;
}
#view #mainNav ul li {
  display: inline-block;
  float: left;
  list-style: none;
  padding: 0 0 0 5px;
  margin: 0;
}
#view #menuIcon {
  display: none;
  background: #000;
  width: 100%;
  text-align: center;
}
#view #menuIcon:hover {
  background: #999;
}
#view #menuIcon a {
  width: 100%;
  display: inline-block;
  color: #fff;
}
#view #menuIcon a img {
  vertical-align: middle;
}

@media only screen and (max-width: 767px) {
  #view #MainNav {
    max-height: 0;
    overflow: hidden;
    float: none;
    text-align: center;
    width: 100%;
    -webkit-transition: max-height 0.5s;
    -moz-transition: max-height 0.5s;
    transition: max-height 0.5s;
  }
  #view #MainNav.menuOpen {
    max-height: 1000px;
    -webkit-transition: max-height 0.5s;
    -moz-transition: max-height 0.5s;
    transition: max-height 0.5s;
  }
  #view #MainNav ul li {
    display: block;
    width: 100%;
    background: #000;
    border-top: 1px solid #4d4d4d;
  }
  #view #MainNav ul li:hover {
    background: #999;
  }
  #view #MainNav ul li a {
    color: #fff;
    text-shadow: #848484 0px 1px 2px;
    padding: 10px 0;
    width: 100%;
  }
  #view #menuIcon {
    display: inline-block;
  }
}
#editor ul {
  padding: 0;
}
#editor ul li {
  list-style-position: inside;
}

body {
  margin: 0;
}

#main {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  box-orient: horizontal;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  box-direction: normal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  flex-direction: row;
  -ms-flex-direction: row;
  height: 100vh;
  background-color: #000;
}
#main #editor {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background-color: #ededed;
  padding: 20px;
}
#main #view {
  -webkit-box-flex: 3;
  -moz-box-flex: 3;
  box-flex: 3;
  -webkit-flex: 3;
  -moz-flex: 3;
  -ms-flex: 3;
  flex: 3;
  background-color: #fff;
}
#main #view .content {
  display: block;
  clear: both;
}
