/* SASS */
html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

#editor h1 {
  margin: 1rem 0 2rem;
}
#editor h1, #editor h2, #editor h3, #editor h4, #editor h5 {
  color: #555;
  font-weight: lighter;
}

#editor {
  font-family: "Open Sans", sans-serif;
}

#editor ul {
  padding: 0;
}
#editor ul li {
  list-style-position: inside;
}
#editor nav {
  display: none;
  margin: -20px;
  background: #fff;
  color: #555;
  background-color: #fff;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  position: relative;
}
#editor nav.active {
  display: block;
}
#editor nav h3 {
  padding: 20px;
  text-transform: capitalize;
}
#editor nav h3 a {
  color: #555;
}
#editor nav ul {
  padding: 0;
  margin: 0;
}
#editor nav li {
  list-style: none;
}
#editor nav li:first-child {
  border-top: 1px solid #eee;
}
#editor nav li a {
  padding: 15px 20px;
  display: block;
  border-bottom: 1px solid #eee;
  color: #555;
  text-decoration: none;
  position: relative;
}
#editor nav li a:hover {
  background: #f5f5f5;
  color: #23282d;
}
#editor nav li a:hover:after {
  color: #23282d;
}
#editor nav li a:after {
  content: ">";
  position: absolute;
  right: 20px;
  color: #a0a5aa;
}

#view #mainNav {
  display: block;
  width: 100%;
}
#view #mainNav ul {
  padding: 0;
  margin: 0;
}
#view #mainNav ul li {
  display: inline-block;
  float: left;
  list-style: none;
  padding: 0 0 0 5px;
  margin: 0;
}
#view #menuIcon {
  display: none;
  background: #000;
  width: 100%;
  text-align: center;
}
#view #menuIcon:hover {
  background: #999;
}
#view #menuIcon a {
  width: 100%;
  display: inline-block;
  color: #fff;
}
#view #menuIcon a img {
  vertical-align: middle;
}

@media only screen and (max-width: 767px) {
  #view #MainNav {
    max-height: 0;
    overflow: hidden;
    float: none;
    text-align: center;
    width: 100%;
    -webkit-transition: max-height 0.5s;
    -moz-transition: max-height 0.5s;
    transition: max-height 0.5s;
  }
  #view #MainNav.menuOpen {
    max-height: 1000px;
    -webkit-transition: max-height 0.5s;
    -moz-transition: max-height 0.5s;
    transition: max-height 0.5s;
  }
  #view #MainNav ul li {
    display: block;
    width: 100%;
    background: #000;
    border-top: 1px solid #4d4d4d;
  }
  #view #MainNav ul li:hover {
    background: #999;
  }
  #view #MainNav ul li a {
    color: #fff;
    text-shadow: #848484 0px 1px 2px;
    padding: 10px 0;
    width: 100%;
  }
  #view #menuIcon {
    display: inline-block;
  }
}
body {
  margin: 0;
}

#wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  box-orient: horizontal;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  box-direction: normal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  flex-direction: row;
  -ms-flex-direction: row;
  height: 100vh;
  background-color: #000;
}
#wrapper #editor {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background-color: #eee;
  padding: 20px;
  border-right: 2px #ddd solid;
}
#wrapper #view {
  -webkit-box-flex: 3;
  -moz-box-flex: 3;
  box-flex: 3;
  -webkit-flex: 3;
  -moz-flex: 3;
  -ms-flex: 3;
  flex: 3;
  padding: 0 10px;
  background-color: #fff;
}
#wrapper #view .content {
  display: block;
  clear: both;
}

.edit label {
  padding: 10px 10px 0;
  display: block;
  color: #999;
  font-weight: lighter;
}
.edit input,
.edit textarea,
.edit iframe.wysiwyg {
  display: block;
  color: #555;
  font-size: 1.4rem;
  font-family: "Helvetica Neue", "Open Sans", sans-serif;
  width: calc(100% - 20px);
  margin: 5px 10px 10px;
  padding: 10px;
  border: 1px #eee solid;
}
.edit input:focus,
.edit textarea:focus,
.edit iframe.wysiwyg:focus {
  border-color: #555;
}
.edit textarea, .edit iframe.wysiwyg {
  min-height: 10rem;
  font-size: 1.1rem;
  line-height: 1.8rem;
  padding: 5px;
}
