@import "headings";
body {
  font-family: "Helvetica Neue", $editor-header-fonts;
}
#editor {
  font-family: $editor-header-fonts;
}

#view {
  body, p {
    font-family: $view-default-fonts;
  }
  h1,h2,h3,h4,h5,h6 {
    font-family: $view-header-secondary;
    font-weight: normal;
  }
  .page-header h1 {
    font-family: $view-header-primary;
    font-size: 2.2rem;
    margin: 1rem 0 0;
    color: $view-header-color-dark;
    //text-shadow: 0px 1px 1px #222;
    a {
      text-decoration: none;
    }
  }
  .page-header h2 {
    color: $view-header-color-dark;
    font-size: 1.2rem;
    margin: .4rem 0 0;
    font-weight: lighter;
  }
  .primary p {
    font-size: 1.2rem;
    line-height: 2rem;
    color: #222;
  }
  .sidebar p {
    font-size: 1rem;
  }
  .footer p {
    font-size: .8rem;
    font-family: $view-header-secondary;
    text-align: center;
    font-weight: lighter;
  }
}
