@import "navigation";
@import "view";

body {
  margin: 0;
  position: relative;
}
#wrapper {
  //@include outer-container;
  @include display(flex);
  @include flex-direction(row);
  //@include box-orient(horizontal);
  height: 100vh;
  background-color: #000;

  #editor {
    //@include span-columns(3);
    @include flex(1);
    min-width: 240px;
    max-width: 320px;
    background-color: $editor-background-color;
    padding: 20px;
    border-right: 2px #ddd solid;
    &.hidden {
      display: none;
    }
  }
  #view {
    //@include span-columns(9);
    @include flex(3);
    padding: 0 10px;
    background: #ededed;
    a {
      color: $view-link-color;
    }
    .content {
      display: block;
      clear: both;
      @include display(flex);
      @include flex-direction(row);
      .primary {
        @include flex(3);
      }
      .sidebar {
        @include flex(1);
      }
    }
  }
}
